body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom css */
/* .div-inner {
  background: #ebeff2;
} */
body {
  max-width: 1264px;
  display: inline;
}

.div-inner {
  border: 90px solid #ebeff2;
}

.black-box {
  
  background: #607d8b;
}

.white-box {
  
  background: #ffffff;
}

.border-red .div-inn {
  border: 4px solid #F00;
}

p.div-inp {
  padding: 80px;
}

.MuiPaper-root {
  
  background-color: #f9f9f9d1;
}

.container.whole-container {
  background: #a0a0a054;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #000;
}

.div-inner a {
  color: #000;
}

.div-inner a:hover {
  color: rgb(157 167 11);
  text-decoration: none;
}

.whole-container h1{
  text-align: center;
  font-size: 30px; margin-bottom: 16px;
}
.left-pan {
  border-right: 1px solid #717070;
}

.div-inner1 h3 {
  text-align: center;
  font-size: 22px;
  margin-top: 14px;
}

.row.items {
  border: 1px solid #717070;
  background: #fff;
}

/* .full-inner{
  background: #fff;
} */

.row.items1 {
  background: #fff;
  padding-top: 23px;
  justify-content: center;
}

.div-inner1 h4 {
  text-align: center;
}

.section1.full-sec.my-4 {
  background: #fff;
  padding: 15px;
}

.div-inner1.box-slice1 {
  display: inline-block;
  margin: 2px;
}

.box-slice {
  padding: 20px 20px;
  width: 180px;
  height: 120px; margin-top: 15px;
}

span.span-count {
  background: #dc143c;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
}

input.input-count {
  width: 60%;
}

.selected-box {
  background: #1a1212 !important;
  color: #fff;
  margin-top: 15px; display: inline-block;
}

.div-inner1.box-slice1 .col-md-6 {
  display: inline-block;
}
































