body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom css */
/* .div-inner {
  background: #ebeff2;
} */
body {
  max-width: 1264px;
  display: inline;
}

.div-inner {
  border: 90px solid #ebeff2;
}

.black-box {
  
  background: #607d8b;
}

.white-box {
  
  background: #ffffff;
}

p.div-inp {
  padding: 80px;
}

.MuiPaper-root {
  
  background-color: #f9f9f9d1;
}

.container.whole-container {
  background: #a0a0a054;
  padding: 60px;
  margin-bottom: 30px;
}

.div-inner a {
  color: #000;
}

.div-inner a:hover {
  color: rgb(157 167 11);
  text-decoration: none;
}

.whole-container h1{
  text-align: center;
  font-size: 30px; margin-bottom: 16px;
}
.left-pan {
  border-right: 1px solid #717070;
}

.div-inner1 h3 {
  text-align: center;
  font-size: 22px;
  margin-top: 14px;
}

.row.items {
  border: 1px solid #717070;
  background: #fff;
}

/* .full-inner{
  background: #fff;
} */

.row.items1 {
  background: #fff;
  padding-top: 23px;
}

.div-inner1 h4 {
  text-align: center;
}












































